/*
Additional text colors
=========================
*/
.text-color-bright-red {color: #ff0000;}
.text-color-bright-green {color: #00ff00;}
.text-color-bright-blue {color: #0000ff;}
.text-color-bright-yellow {color: #ffff00;}
.text-color-bright-cyan {color: #00ffff;}
.text-color-bright-magenta {color: #ff00ff;}
.text-color-white {color: #ffffff;}
.text-color-black {color: #000000;}
.text-color-gray {color: #808080;}
.text-color-bright-gray {color: #d3d3d3;}
.text-color-magenta {color: #8b008b;}
.text-color-cyan {color: #008b8b;}
.text-color-red {color: #8b0000;}
.text-color-green {color: #006400;}
.text-color-blue {color: #00008b;}
.text-color-yellow {color: #b8860b;}
/*
Additional text colors
=========================
*/